<!-- <p>dashboard works!</p> -->
<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput [readonly]="true">
  </mat-form-field> -->

  <p>Panel principal!</p>

  <div class="panel-body">
    
        <div class="row m-b-xs">
            <div class="col-md-4">
                <small class="text-muted block">ID: </small>
                <span class="text-base text-break">{{userRol.id}}</span>
            </div>
            <div class="col-md-4">
                <small class="text-muted block">Rol: </small>
                <span class="text-base text-break">{{userRol.rol}}</span>
            </div>
            <div class="col-md-4">
                
            </div>
            
        </div>
        <p style="margin-top: 16px">Datos Personales</p>
        <div class="row m-b-xs">      
            <div class="col-md-4">
                <small class="text-muted block">Apellido: </small>
                <span class="text-base text-break">{{userRol.lastName}}</span>
            </div>
            <div class="col-md-4">
                <small class="text-muted block">Nombre: </small>
                <span class="text-base text-break">{{userRol.name}}</span>
            </div>
            <div class="col-md-4">
                <small class="text-muted block">Año: </small>
                <span class="text-base text-break">{{userRol.year}}</span>
            </div>
            <div class="col-md-4">
                <small class="text-muted block">Usuario: </small>
                <span class="text-base text-break">{{userRol.user}}</span>
            </div>
            <div class="col-md-4">
                <small class="text-muted block">Password: </small>
                <span class="text-base text-break">{{userRol.pass}}</span>
            </div>
            <div class="col-md-4">
                <small class="text-muted block">Token: </small>
                <span class="text-base text-break">{{userRol.token}}</span>
            </div>
            
        </div>
</div>